// light Mode

$main-color: #000000e6;
$secondary-color: #5ac7e0;
$black-color: #000;
$white-color: #fff;
$light-gray-color: #f0f0f0;
$text-color: #000000;

// dark Mode


//Main

/*** Intership-dashboard ****/
$background-color_1: #45828d96;
$background-color_2: #255b64;

/*** Internship-dashboard Section***/
$background-color_boxRequest: rgba(255, 255, 255, 0.2);
